body{
	padding: 50px;
}

.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*.content-heading{
	color: green;
}*/
details{
	margin-bottom: 15px;
	font-size: 19px; 
    font-weight: bold;
}
summary{
	color: green;
	margin-bottom: 10px;
}

.miscellaneous{
	text-decoration: none;
}

.soft{
	color: tomato;
}

#GUG_DOWN{
	color: lightblue;
	font-size: 24px;
	font-weight: bold;
}
